body {
    padding-top: 50px;
    min-height: 700px;
    padding-bottom:50px;
}
.mastfoot {
    text-align: center;
    z-index:100;
    position:fixed;
    bottom:0px;
    border-top-style: solid;
    border-top-width: 1pt;
    padding-top: 4px;
    padding-bottom:-50px;
}

.hide {
    display: none;
}
